@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fontsource/roboto-condensed";

body {
  background-color: #bad4cf;
  color: #000000;
  font-family: "Roboto Condensed", sans-serif;
}

.song-list i {
  margin-top: 7px;
}

.song-list a {
  color: #000000;
}

.song-details {
  background-color: #bad4cf;
  border-radius: 5px;
  padding: 5px;
}

.genre-list li {
  margin-right: 5px;
}

.mixed-vinyl-container {
  background: rgb(23, 44, 37);
  background: linear-gradient(
    180deg,
    rgb(23, 44, 43) 1%,
    rgb(34, 54, 46) 97%
  );
  border-radius: 5px;
}
