@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fontsource/roboto-condensed";

body {
  background-color: #d9e9e9;
  color: #000;
  font-family: "Roboto Condensed", sans-serif;
}

.song-list i {
  margin-top: 7px;
}

.song-list a {
  color: #000;
}

.song-details {
  background-color: rgba(32, 44, 113, 0.605);
  border-radius: 5px;
  padding: 5px;
}

.genre-list li {
  margin-right: 5px;
}

.mixed-vinyl-container {
  background: #d9e9e9;
  border-radius: 5px;
}
